[user]
	email = dsdgun@gmail.com
	name = Bohyung Kim
[color]
	ui = auto

[alias]
	ci = commit
	st = status
	co = checkout
	log-local = log --oneline origin..HEAD
	sl = log --oneline
	gl = log --graph 
	stsh = stash
	stash = stash --include-untracked
	staash = stash --all
[core]
	excludesfile = /Users/bhkim/.gitignore_global
	editor = vim
	autocrlf = input
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
	default = matching
